body{
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

td{
    color: white;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}

	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}

	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		top: 100; left: 100;
	}

	.table{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		top: 100; left: 100;
	}


	/* Parte do Menu */



@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}
.capa{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	z-index: -1;
	top: 0;left: 0;
}

.header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;left: 0;
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
.containerr .btn-menu, .logo{
	float: left;
	line-height:100px;
}
.containerr .btn-menu label{
	color: #CBD0F7;
	font-size: 25px;
	cursor: pointer;
}
.logo h1{
	color: #CBD0F7;
	font-weight: 400;
	font-size: 22px;
	margin-left: 10px;
}
.containerr .menu{
	float: right;
	line-height: 100px;
}
.containerr .menu a{
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #CBD0F7;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}
.containerr .menu a:hover{
	border-bottom: 2px solid #CBD0F7;
	padding-bottom: 5px;
}
