<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/Pagina ADM/1.css">
    <link rel="shortcut icon" href="/img/CadastrodeVeiculoslogo.png" type="image/x-icon">
    <title>Controle de veiculos</title>
</head>
<body>

    <div  class="container">
        <div class="row mt-5" v-if="mostrarTabela" >
            <div class="col-sm-12 col-md-12">
                <table id="myTable" class="table striped table-striped table-hover table-sm table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Horario Saida</th>
                        <th>Horario Chegada</th>
                        <th>Placa do Veiculo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="toner in toners" :key="toner.id">
                        <td>1</td>
                        <td>Junior</td>
                        <td>05/02/2023</td>
                        <td>14:00</td>
                        <td>18:15</td>
                        <td>H5T6V7</td>
                    </tr>
                    </tbody>
                    <tbody>
                        <tr v-for="toner in toners" :key="toner.id">
                            <td>2</td>
                            <td>Carlos</td>
                            <td>05/02/2023</td>
                            <td>15:00</td>
                            <td>17:15</td>
                            <td>VB58R6</td>
                        </tr>
                        </tbody>
                        <tbody>
                            <tr v-for="toner in toners" :key="toner.id">
                                <td>3</td>
                                <td>Pedro</td>
                                <td>05/02/2023</td>
                                <td>16:00</td>
                                <td>17:00</td>
                                <td>TR89R2</td>
                            </tr>
                            </tbody>
                            <tbody>
                                <tr v-for="toner in toners" :key="toner.id">
                                    <td>4</td>
                                    <td>Thiago</td>
                                    <td>05/02/2023</td>
                                    <td>16:20</td>
                                    <td>17:35</td>
                                    <td>BJD8R1</td>
                                </tr>
                                </tbody>

                </table>
            </div>
        </div>
        
</body>
</html>