@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B1F27;
}

h3{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

h1{
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CBD0F7;
    padding: 0.5em ;
}

.form {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5em;
    border-radius: 12px;
}

.formulario{
    text-align: center  ;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

}

.login-button {
    display: flex;
    align-items: center;

}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63fff1;

}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}


.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    color: #CBD0F7;
}

.input-box input {
    margin-left: 1em;
    width: 110%;
    padding: 1.5em;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    background: #252A34;
    color: #CBD0F7;
    display: block;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #CBD0F7;
}

.input-box input::placeholder {
    color: #CBD0F7;
}

.endereco input {
    margin: 1em ;
    margin-left: 1em;
    width: 110%;
    padding: 1.5em;
    border: none;
    border-radius: 23px;
    font-size: 0.8rem;
    background: #252A34;
    color: #CBD0F7;
    display: flex;
}

.endereco input:hover {
    background-color: #eeeeee75;
}

.endereco input:focus-visible {
    outline: 1px solid #6c63ff;
}

.endereco input::placeholder {
    color: #CBD0F7;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}



.input-senha input {
    margin-left: 1em;
    width: 75%;
    padding: 1.5em;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    background: #252A34;
    color: #CBD0F7;
    display: block;
    float: left;
}

.input-senha input:hover {
    background-color: #eeeeee75;
}

.input-senha input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-senha input::placeholder {
    color: #CBD0F7;
}

.mostrar{
    width: 20%;
    height: 55px;
    padding: 1.5em;
    border: none;
    border-radius: 20px;
    background: #6c63ff;
    display: block;
    cursor: pointer;
}

/* Parte do Menu */



@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}

	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.containerr{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.containerr .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.containerr .btn-menu label{
		color: #CBD0F7;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #CBD0F7;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.containerr .menu{
		float: right;
		line-height: 100px;
	}
	.containerr .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #CBD0F7;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.containerr .menu a:hover{
		border-bottom: 2px solid #CBD0F7;
		padding-bottom: 5px;
	}

    